{% load staticfiles %}
    <!--合作-->
    <div class="compceo">
        <div class="comp text-center">
            <h3 class="font40 color33" style="margin-bottom: 20px;" >合作企业</h3>
            <p class="font16 color33" style="margin-bottom: 70px;">大量雇主信赖麦子学院</p>
        </div>
        <div class="ceo carousel slide" id="carousel-example-generic2" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="{% static 'images/ceo.jpg' %}" alt=""/>
                    <div class="carousel-caption colorff font20">
                        <p>“稳扎稳打的知识结构，海量前沿的实战练习，踏实高效的工作习惯，让每一名学员到岗后都能快速进入状态。麦子学院就是我们的人才培养库，我们信赖麦子学院。”</p>
                        <p>猎聘网创始人兼CEO</p>
                        <p>戴科彬</p>
                    </div>
                </div>
                <div class="item">
                    <img src="{% static 'images/ceo.jpg' %}" alt=""/>
                    <div class="carousel-caption colorff font20">
                        <p>“稳扎稳打的知识结构，海量前沿的实战练习，踏实高效的工作习惯，让每一名学员到岗后都能快速进入状态。麦子学院就是我们的人才培养库，我们信赖麦子学院。”</p>
                        <p>猎聘网创始人兼CEO</p>
                        <p>戴科彬</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
