{% load staticfiles %}
    <!--course-->
    <div class="course">
        <div class="inner">
            <div class="course_list">
                <ul class="course_list_con">
                    <li>
                        <div class="courselist_title">
                            <p></p>
                            <h4 class="font20 colorff text-center">软件开发</h4>
                        </div>
                        <div class="courselist_list font13">
                            <ul class="fl">
                                <li><a href="#" class="color99">Android应用开发</a></li>
                                <li><a href="#" class="color99">iOS应用开发</a></li>
                                <li><a href="#" class="color99">Web前端开发 </a></li>
                                <li><a href="#" class="color99">Python Web开发</a></li>
                            </ul>
                            <ul class="fl">
                                <li><a href="#" class="color99">Android应用开发</a></li>
                                <li><a href="#" class="color99">iOS应用开发</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="courselist_title">
                            <p></p>
                            <h4 class="font20 colorff text-center">智能硬件</h4>
                        </div>
                        <div class="courselist_list font13">
                            <ul class="fl">
                                <li><a href="#" class="color99">Android应用开发</a></li>
                                <li><a href="#" class="color99">iOS应用开发</a></li>
                                <li><a href="#" class="color99">Web前端开发 </a></li>
                                <li><a href="#" class="color99">Python Web开发</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="courselist_title">
                            <p></p>
                            <h4 class="font20 colorff text-center">产品运营</h4>
                        </div>
                        <div class="courselist_list font13">
                            <ul class="fl">
                                <li><a href="#" class="color99">Android应用开发</a></li>
                                <li><a href="#" class="color99">iOS应用开发</a></li>
                                <li><a href="#" class="color99">Web前端开发 </a></li>
                                <li><a href="#" class="color99">Python Web开发</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="courselist_title">
                            <p></p>
                            <h4 class="font20 colorff text-center">设计</h4>
                        </div>
                        <div class="courselist_list font13">
                            <ul class="fl">
                                <li><a href="#" class="color99">Android应用开发</a></li>
                                <li><a href="#" class="color99">iOS应用开发</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="course_con">
                <article class="article fl">
                    <div class="course_con1">
                        <div class="course_con1_in1 text-center">
                            <h4 class="font16 colorff">入学阶段</h4>
                            <div class="course_con1_incon">
                                <div class="course_con1_inconlist">
                                    <div>
                                        <div><img src="{% static 'images/course_con.png' %}" alt=""/></div>
                                        <p class="font12">新手引导任务</p>
                                    </div>
                                    <div>
                                        <div><img src="{% static 'images/course_con2.png' %}" alt=""/></div>
                                        <p class="font12">互联网思维</p>
                                    </div>
                                    <div>
                                        <div><img src="{% static 'images/course_con2.png' %}" alt=""/></div>
                                        <p class="font12">互联网产品的商业模式</p>
                                    </div>
                                    <div style="margin-top: -25px;">
                                        <div><img src="{% static 'images/course_con3.png' %}" alt=""/></div>
                                        <p class="font12">产品的商业模式画布</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="course_con1 course_con2">
                        <div class="course_con1_in1 text-center">
                            <h4 class="font16 colorff">基础阶段</h4>
                            <div class="course_con1_incon">
                                <div class="course_con1_inconlist">
                                    <div>
                                        <div><img src="{% static 'images/course_con4.png' %}" alt=""/></div>
                                        <p class="font12">竞品分析</p>
                                    </div>
                                    <div>
                                        <div><img src="{% static 'images/course_con4.png' %}" alt=""/></div>
                                        <p class="font12">流程图</p>
                                    </div>
                                    <div>
                                        <div><img src="{% static 'images/course_con4.png' %}" alt=""/></div>
                                        <p class="font12">市场需求文档MRD</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
                <aside class="aside fr">
                    <img src="{% static 'images/course_aside_03.jpg' %}" alt=""/>
                </aside>
            </div>
        </div>
    </div>

